{% extends 'product/base.html' %}

{% block base %}

<H1>{{dbdata}} </H1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Srno</th>
            <th scope="col">Recipe Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">review</th>

        </tr>
    </thead>
    <tbody>
        {% for i in dbdata %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{i.name}}</td>
            <td>{{i.ingredient}}</td>
            <td>{{i.iamge}}</td>
            <td>{{i.review}}</td>

        </tr>
        {% endfor %}

    </tbody>
</table>

<!-- name=recipe_name,
ingredient=recipe_description,
review=reveiw_star,
iamge=reciptImage, -->
<table border="1">
    <tr>

        <th>name</th>
        <th> description</th>
        <th>review</th>
        <th>image</th>
    </tr>
    {% for i in dbdata %}
    <tr>
        <td>{{i.name}}</td>
        <td> {{i.ingredient}}</td>
        <td>{{i.review}}</td>
        <td>{{i.iamge}}<img src={{i.iamge}} alt="kuc"/></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

