{% extends 'product/base.html' %}

{% block base %}

<H1>{{dbdata}} </H1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>

    </tbody>
</table>

name=recipe_name,
ingredient=recipe_description,
review=reveiw_star,
iamge=reciptImage,
<table border="1">
    <tr>

        <th>name</th>
        <th> description</th>
        <th>review</th>
        <th>image</th>
    </tr>
    {% for i in dbdata %}
    <tr>
        <td>{{i.name}}</td>
        <td> {{i.ingredient}}</td>
        <td>{{i.review}}</td>
        <td>{{i.iamge}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

